[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-multipart = "*"
fastapi = "*"
passlib = "*"
sqlalchemy = "*"
asyncpg = "*"
pydantic = "*"
sqladmin = "*"
argon2-cffi = "*"
starlette = {extras = ["full"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
alembic = "*"

[dev-packages]

[requires]
python_version = "3.10"
